html,
body {
    margin: 0;
    padding: 0;
    background-color: #333;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#custom-cursor {
    position: fixed;
    pointer-events: none;
    border: 2px solid #888;
    border-radius: 50%;
    background: transparent;
    z-index: 9999;
    mix-blend-mode: difference;
    transition: width 0.1s, height 0.1s, border-color 0.1s;
    display: none;
}

.hidden {
    opacity: 0% !important;
}

#container {
    display: block;
    position: relative;
    margin: auto;
}

#mask-image {

    object-fit: contain;
    display: block;
    margin: auto;
}

#mask-canvas {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;


    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    object-fit: contain;
    position: absolute;
    opacity: 70%;
}

/*enaling fixed image size/*
@media screen and (min-width: 66.625vh) {
    #container {
        height: 100vh;
        width: 66.625vh;
    }
}

@media screen and (max-width: 66.624vh) {
    #container {
        height: 150.09vw;
        width: 100vw;
    }
}*/

#paint-controls {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transform-origin: top left;
}

.control-button {
    padding: 1rem;
    background-color: white;
    cursor: pointer;
    border: solid 1px black;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: small;
    width: 30px;
    height: 30px;
}

#next-button {
    z-index: 100;
    background-color: white;
    border: 1px solid black;
    color: black;
    position: fixed;
    right: 0;
    bottom: 1rem;
    padding: 1rem;
    transform-origin: bottom right;
}

#back-button {
    z-index: 100;
    background-color: white;
    border: 1px solid black;
    color: black;
    position: fixed;
    left: 0;
    bottom: 1rem;
    padding: 1rem;
    transform-origin: bottom left;
}

#control-open {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 101;
}